.nav {
   display: flex;
   justify-content: center;
   background-color: var(--color-background-secondary);
}

.container {
   display: flex;
   align-items: center;
   justify-content: space-between;
   width: var(--max-width-screen);
   padding: 15px; /* should i use a variable here? */
}

.navRight {
   display: flex;
   gap: 10px;
}
